img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: lightskyblue;
    border-radius: 15%;
    border-width: thick;
    border-style: double;
  }

  .center {
      text-align: center;
    }

body {
    background-color: #faebd7;
    
}

ul, ol {
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: 300; font-size: 18px;
     }