img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .center {
      text-align: center;
    }

body {
    background-color: #faebd7;
}

ul, ol {
    background-color: lightgrey;
    border-radius: 15%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
}